<div class='sidebaritem' id='headshot'>
	<img class='img img-responsive' src='/img/me.jpg' width='300'/>
</div>

<div class='sidebaritem' id='contactinfo'>
	<div class='sidebarheader'>E-mail</div>
	<div>zhangzongliang@stu.xmu.edu.cn</div>
</div>

<div class='sidebaritem' id='orcid'>
	<div class='sidebarheader'>ORCID</div>
	<div><a target='_blank' href='https://orcid.org/0000-0002-0175-4299'>0000-0002-0175-4299</a></div>
</div>

<div class='sidebaritem' id='github'>
	<div class='sidebarheader'>GitHub</div>
	<div><a target='_blank' href='https://github.com/zhangzongliang'>zhangzongliang</a></div>
</div>

<div class='sidebaritem' id='date'>
	<div><!-- Last modified at: {{ site.time }} --></div>
</div>

{% last_modified_at %}

