<div class='sidebaritem' id='headshot'>
	<img class='img img-responsive' src='/img/me.jpg' width='350'/>
</div>

<div class='sidebaritem' id='affiliations'>
	<div class='sidebarheader'>Institution</div>
	<div><a target='_blank' href='https://www.xmu.edu.cn'>Xiamen University</a></div>
	<div><a target='_blank' href='http://www.cs.xmu.edu.cn'>Computer Science Department</a></div>
</div>

<div class='sidebaritem' id='contactinfo'>
	<div class='sidebarheader'>Contact Information</div>
	<div>zhangzongliang@stu.xmu.edu.cn</div>
</div>
