<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

	<body>

		<div id="mainnav" class="navbar navbar-inverse navbar-static-top" role="navigation">
	        <div class="container">
				<div class="navbar-brand">
					<a href="/">Zongliang Zhang</a>
				</div>
	        </div>     
	    </div>

	    <div class='container' id='content'>

	    	<div class='row'>
			
				    <div class='col-md-3 sidebar'>
	    			{% include sidebar.html %}
					</div>

	    		<div class='col-md-9 maincontent'>
					{{ content }}
				</div>

			</div>

		</div>
		
		{% include scripts.html %}

<!--     <div id="footer">
        <div class="footer-bottom">
            <p>Style modified from <a href="http://zypopwebtemplates.com/">ZyPOP</a></p>
        </div>
	</div> -->
	
		<div class="col-md-3 text-center">
			<script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=QShZBFi6L24FTeLDmu6HjMg_YuX8fOPHLBDJgIWM_so&cl=ffffff&w=a"></script>
		</div>
		

	</body>
</html>


<!-- Asynchronous Google Analytics snippet -->
<!-- <script>
  var _gaq = _gaq || [];
  var pluginUrl =
 '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', 'dbyll']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=QShZBFi6L24FTeLDmu6HjMg_YuX8fOPHLBDJgIWM_so&cl=ffffff&w=a"></script> -->
